<div class="d-flex justify-content-center">
    <div class="flex-grow-2"></div>
    <div class="flex-grow-1">
        <div class="form-group">
            <input class="form-control search-input" type="text" [(ngModel)]="searchText" placeholder="Search">
        </div>

        <table class="table table-bordered table-striped table-hover"
            *ngIf="(employees | filteremp: searchText).length > 0; else noResults">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees | filteremp: searchText; let i = index">
                    <td>
                        {{employee.name}}
                    </td>
                    <td>
                        {{employee.email}}
                    </td>
                    <td>
                        {{employee.gender | titlecase}}
                    </td>
                    <td>
                        {{employee.designation}}
                    </td>
                    <td>
                        {{employee.salary | currency}}
                    </td>
                    <td>
                        <span><a [routerLink]="['/update/',i]" class='fas fa-pen'
                                style='font-size:15px;color:grey; padding-left: 20px'></a></span>
                        <span (click)="delete(i)"><i class='fas fa-trash'
                                style='font-size:15px;color:grey; padding-left: 20px'></i></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #noResults>
                <p>No results found for "{{searchText}}".</p>
              </ng-template>
            
    </div>
    <div class="flex-grow-2"></div>
</div>